<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Weather Today</h1>

         
        <form id="myForm" method="post">
            <label for="city"> Enter City:<input id="city" type="text" name="city" ></label>
            <!-- <label for="state"> Enter State: <input id="state" type="text" name="state" ></label> -->
            <input id="get" type="submit"  value='Get Weather' formaction="/myForm">
        </form>
    <%if(locals.weather || locals.date || locals.temp || locals.location || loacls.icon){%>
        <h3 id="location"> <%= location %> </h3>
        <h5 id="date"><%= date %></h5>
        <h5 id="icon"><img src="https://openweathermap.org/img/wn/<%= icon %>@2x.png" alt="Weather Icon" />
        </h5>
        <h5 id="temp"><%= temp %></h5>
    <%}%>
</body>
</html>